.rect {
    position: absolute;
    z-index: 3000;
    background-color: green;
    opacity: 0.7;
}

.outer {
    position: absolute;
    background-color: red;
    z-index: 1000;
    opacity: 0.7;
}
